/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 3 Oct 2019, 20:41:02
    Author     : dalee
*/

body{
    background: url("../svg/wemyssweb.svg") no-repeat fixed, url("../img/1500x500.jpg") fixed;
    background-size: 100%;
}
header{
    
}
#content{
    background: url("../svg/wemyssweb_1.svg")rgba(255, 255, 255, 0.637) no-repeat fixed;
    background-size: 100%;
}
aside{
    background: url("../svg/wemyssweb3.svg")rgba(238, 238, 238, 0.596) no-repeat fixed;
    background-size: 100%;    
}
#comments{
    background: url("../svg/wemyssweb.svg")#333333 no-repeat fixed;
    background-size: 100%;
    color: #fff;
}
footer,nav{
    color: #bbb;
    background: #222;
    padding: 1rem;
}
