/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 20 Jul 2019, 12:56:02
    Author     : dalee
*/
/*CONTENT*/
body,button,input,select,textarea,h5,.h5 {
    font-family: open sans,sans-serif;
    color: #222;
    font-size: 1rem;
}
h1,h2,h3,h4,label,#nav,#submit {
    font-family: Orbitron,sans-serif;
    letter-spacing: .2rem;
    word-spacing: .2rem;
}
code,kbd,pre,samp {
    font-family: Lucida Sans Typewriter,Lucida Console,monaco,Bitstream Vera Sans Mono,monospace;
}
h1,.h1 {
    font-size: 2.25rem;
}

h2.h2 {
    font-size: 1.5rem;
}

h3,.h3 {
    font-size: 1.3125rem;
    padding-top: .3rem;
}

h4,.h4 {
    font-size: 1.125rem;
}

h6,.h6,small {
    font-size: .88rem;
}
span.avoidwrap { display:inline-block; }
h1{
    position: relative;
    padding-top: 1rem;
}
h1 a:active{
    background: inherit;
}
#logo{
    vertical-align: middle;
    display: inline-block;
    height: 4.5rem;
    width: 4.5rem;
    margin-right: .2rem;

}
#logo:hover{
   fill:#005200;
}
#home #logo:hover{
    stroke: none;
    stroke-width: 0;
    fill:#222;
}
#home h1 a:active{/*remove a active state*/
    background: #fff;
}
.blog-info{
    display: inline-table;
    font-style: italic;
}
.icon-calendar,.icon-bubble2,.icon-price-tags{
    display: inline-block;
    vertical-align: middle;
    width: 1rem;
    height: 1rem;
    fill: #222;
}
.blog-info span{
    padding: .5rem;
}
.blog p:first-letter{

    color:  #e60e0e;
    font-weight: bold;
    font-size: 2rem;
    line-height: 1;
}
#main hr{
    height: 2px;
    background: #005200;
}
