/* 
    Created on : 3 Oct 2019, 20:32:01
    Author     : dalee
*/
#wrap{      
    
    -webkit-box-flex: 1;   
            flex: 1; 
}
#aside,#main,#header{
    padding: 1rem;
}
#toggle,#nav ul{
    margin:0 .5rem;
}