/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28 Sep 2019, 15:59:14
    Author     : dalee
*/
@media only all and (min-width: 55em){

    #wrap{
        margin: auto;
        width: 40em;       
    }
    #toggle{
        display: none;
    }
    #nav{   
        position: -webkit-sticky; /* Safari*/
        position: sticky;
        top: 0;
        margin:1rem 0;
        display: -webkit-box;
        display: flex;
    }
    #nav li{
        border-right: 1px solid #bbb;
    }
    #nav .last{
        border-right: none;
    }
    #nav>ul{    
        display: -webkit-box;    
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
                flex-direction: row;    
    }
    #nav .first a,#nav .first.active a{
        border-radius:0 0 0 10px;  
    }

    #nav .last a{   
        border-radius:0 10px 0 0;
    } 
    #content{
        display: table;
        table-layout: fixed;
    }
    #main, #aside{
        display: table-cell;        
    }
    #main{
        width: 30rem;
        padding-right: .5rem;       
    }
    
    
}
